.container{
    width: 75% !important
}
@media (max-width: 767.98px){
    .container{
        width: 100% !important;
    }
}

a#changeAddress, a#changeAddress:active,a#changeAddress:focus{
    padding: 1px; 
    background-color: lightgray;
    border: none;
    font-size: 8px;
    border-radius: 0;
    outline: none;     
    box-shadow:none; 
}

a#changeAddress:focus{
    color: black;
}

li{
    list-style: none;
    margin-top: 10px;
}

select.form-select, select.form-select:focus{
    outline: none;
    width: 60px;
    font-size: 0.1px;
    box-shadow: none;
    border-color: rgb(206, 212, 218);
}
@media (max-width: 767.98px){
    select.form-select{
        height: 30px;
        font-size: 10px;
    }
}

a > div > div{
    font-size: 12px;
}

div.amount, div.pay{
    margin: 0px 30px;
}

input.discount{
    background-color: rgb(233, 230, 230);
    border: none;
}

.form-check-input:checked, .form-check-input.focus, .form-check-input:active{
    background-color: rgb(46, 45, 45) !important; 
    border-color: rgb(46, 45, 45)!important; 
    outline: none!important;
    box-shadow: none!important;
}

button.btn.submit{
    background-color: rgb(46, 45, 45);
    color: white;
    border: rgb(46, 45, 45);
    width: 100%;
    margin-top: 20px;
}

button.btn.disConfirm{
    background-color: rgb(46, 45, 45);
    color: white;
    border: rgb(46, 45, 45);
    height: 30px;
    font-size: 14px;
}

div.offcanvas-bottom.show{
    margin: 0 300px;
    height: 500px; 
}

@media (max-width: 767.98px){
    div.offcanvas-bottom.show{
        margin: 0 0;
    }
}

.pac-container {
    z-index: 1062 !important;
  }

#cart{
    display: none;
}

div.del{
    padding-left: 40px;
}
@media (max-width: 767.98px){
    div.del{
        padding-left: 12px;
    }
}

#map{
    width: 100%;
    height: 200px;
}

/* .offcanvas{
    z-index: 20;   
} */