.monfood-resPic{
  width: 100%;
}

.monfood-closeModal{
  width: 10px; 
  height: 10px; 
  margin-right: 2px;
}

.monfood-openedTime{
  font-size: 15px;
}

.monfood-openedTime{
  margin-left: 10px; 
  list-style: none;
  font-size: 15px;
}

.monfood-ratingul{
  list-style: none; 
  font-size: 15px;
  padding-left:0px;
}

.monfood-ratingbtn{
  font-size: 15px !important; 
  border: none !important;
  background-color: transparent !important;
  margin-top: none !important;
  margin-left: 0 !important;
}

.monfood-pdtImgdiv{
  height: 196px; 
  width: 240px; 
  overflow: hidden;
}

.monfood-pdtImg{
  height: 196px;
  width: 240px;
  overflow: hidden;
}

.monfood-pdtPicModaldiv{
  width: 380px; 
  overflow: hidden; 
  margin: auto;
}

.monfood-pdtPicModal{
  display: block; 
  width: 100%;
}

.monfood-pdtinfoModeldiv{
  padding: 20px;
}



.monfood-pdtName{
  padding-top: 20px;
  text-align: left;
  margin-bottom: 6px;
}

.monfood-pdtPrice{
  text-align: left;
}

.monfood-productAll{
  padding: 0px 0px 0px 60px;
  margin: 0;
}

.monfood-resAddr{
  font-size: 15px; 
  padding: 0;
  margin: 0;
  /* margin-left: 35px; */
}
.container{
  margin-left: 20px;
}
.monfood-resHeader-sec{
  padding: 0;
}

.monfood-resPicdiv{
    height: 200px;
    background-color: lightgray;
    overflow: hidden;
}

.monfood-resRate{
  margin-left: 38px;
}

.monfood-resNameHeader{
    padding: 0;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 20px;  
}

.monfood-openedTimediv{
  /* margin-left: 32px; */
  text-align: center;
  padding: 0;
  margin: 0;
}
.monfood-openedTime{
  margin: 0; 
  padding:0;
}
.monfood-closeTime{
  margin: 0; 
  padding:0;
}
.monfood-resType{
  margin-left: 10px;
  font-size: 15px; 

}

.detail{
    margin-left: 7px;
}

/* .monfood-resDetail{
  font-size: 16px;
  width: 70px !important;
  height: 35px !important;
  float: right;
  margin-top: 18px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #ff7f3f !important; 
} */
.nav-link{
    color: rgb(161, 161, 161);
}
.tab-content{
    margin-top: 50px;
}

.form-check-input{
  /* 讓radio跟文字平行 */
    vertical-align: middle;
    margin-top: -2px;
    margin-bottom: 1px;
  }

  .flip{
    margin:0px;
    border: 1px solid lightgray;
    height: fit-content;

    padding:5px;
    text-align:center;
    cursor:pointer;
}

.panel{
    margin:0px;
    padding:5px;
    text-align:center;
    border:solid 1px #c3c3c3;
    display:none;
}

.flip{
  text-align: left;
}
.form-check-label{
  text-align: left;
}

.btn-primary{
  background-color: transparent !important; 
  color: black !important;
  border: none !important;
  opacity: 0.8 !important;
}

.btn-primary:hover{
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  opacity: 1 !important;
  transform: scale(1.1) !important;
}
.monfood-modalFooter{
  display: flex; 
  justify-content: center;
}

.monfood-ModalPdtName{
  font-weight: bold;
}

.monfood-addToCart{
  color: white;
  border: none;
  border-radius: 5px;
  height: 37px;
  width: 400px; 
  background-color: #ff7f3f;
  position: relative;
  right:20px;
}

.monfood-addToCart:hover{
  color: black;
  border: none;
  border-radius: 5px;
  height: 37px;
}

.cancel{
  background-color: lightgray;
  color: white;
  border: none;
  border-radius: 5px;
  height: 37px;
}

.cancel:hover{
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  height: 37px;
}

.information_title{
  border: 1px solid lightgray;
  margin: 20px;
}

.modal-header{
  background-color: #ff7f3f;
  height: 50px;
}

.modal-content{
  border: none;
}

.opened_time{
  margin-top: 2px; 
  padding: none;
}
/*  */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.Qcontainer {
  width: 45%;
  margin: 0 auto;
}

.Qcontainer h1 {
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin: 0 auto;
  background: #eaeaea;
  border-radius: 10px;
  padding: 1rem 0.4rem;
  margin-top: 4rem;
}

.quantity-btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0px 8px;
  cursor: pointer;
}

.quantity-btn svg {
  width: 15px;
  height: 15px;
}

.quantity-input {
  outline: none;
  user-select: none;
  text-align: center;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
